{% extends 'shop/base.html' %} {% block body %}
<div style="margin: 10px 25%" class="list-group">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action active">Cart Items</li>
    {% for k,v in alls.items %}
    <li class="list-group-item align-items-center">
      <button type="submit" class="btn btn-success">+</button>
      <button style="margin-right: 3%" type="submit" class="btn btn-danger">
        -
      </button>
      {{ k }}
      <span
        style="margin-left: 25%; font-size:20px"
        class="badge badge-primary badge-pill float-right"
      >
        {{ v }}
      </span>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
