{% extends 'shop/base.html' %} 
{% block body %}
<table style="margin-left:25%; margin-top:20px; width:75%">
	<tr >
		<th></th>
		<th></th>
		<th>Title</th>
		<th>Price</th>
		<th>Quantity</th>
	</tr>
	{% for v in item.values %}
	<tr>
		<td style="padding-right:5%;">
			<a href="/add/{{ v.0 }}">
			   <button class="btn btn-primary" type="submit">+</button>
			</a>
		</td>
		<td style="padding-right:1%;">
			<a href="/subtract/{{ v.0 }}">
			    <button class="btn btn-danger"type="submit">-</button>
			</a>
		</td>
		<td >{{ v.1 }}</td>
		<td>R {{ v.2|floatformat:2 }}</td>
		<td>{{ v.3 }}</td>
	</tr>
	{% endfor %}
	<tr>
		<th></th>
		<th></th>
		<th>Total</th>
		<th>R {{ adding_prices|floatformat:2 }}</th>
		<th>{{ adding_quantities }}</th>
	</tr>
</table>
{% endblock %}
