{% extends 'shop/base.html' %} 
{% block body %} 

{% comment %} search feature code {% endcomment %}
<div class="row">
  <div class="col-md-12">
    <form class="card card-sm">
      <div class="card-body row no-gytters align-items-center">
        <div class="col">
          <input
            type="search"
            name="item_name"
            placeholder="Search for products"
            class="form-control form-control-borderless"
          />
        </div>
        <div class="col-auto">
          <button class="btn btn-success" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div style="margin: 10px 25%" class="row">
  <div class="col-md-3 offset-md-4">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page_item">
        <a
          style="margin-right: 2px"
          class="page-link"
          href="?page={{ page_obj.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %} {% if page_obj.has_next %}

      <li class="page_item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
          >Next</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</div>

{% comment %} pagination code {% endcomment %}
{% comment %} <div class="row"> {% endcomment %}
{% comment %} {% for product in object_list %} {% endcomment %}
{% comment %}     <div class="col-md-3"> {% endcomment %}
{% comment %}       <div class="card"> {% endcomment %}
{% comment %}         <img {% endcomment %}
{% comment %}           style="width: 720; height: 720" {% endcomment %}
{% comment %}           src="{{ product.image }}" {% endcomment %}
{% comment %}           class="card-img-top" {% endcomment %}
{% comment %}         /> {% endcomment %}
{% comment %}         <div class="card-body"> {% endcomment %}
{% comment %}           <div class="card-title"> {% endcomment %}
{% comment %}             {{ product.title }} {% endcomment %}
{% comment %}           </div> {% endcomment %}
{% comment %}           <div class="card-text">R {{ product.price | floatformat:2 }}</div> {% endcomment %}
{% comment %}           <a href="{{ product.id }}" class="btn btn-warning">View</a> {% endcomment %}
{% comment %}           <a href="add/{{ product.id }}"> {% endcomment %}
{% comment %}             <button type="submit" class="btn btn-warning">add to cart</button> {% endcomment %}
{% comment %}           </a> {% endcomment %}
{% comment %}         </div> {% endcomment %}
{% comment %}       </div> {% endcomment %}
{% comment %}     </div> {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}
{% comment %} </div> {% endcomment %}

{% comment %} pagination code {% endcomment %}
<div class="row">
{% for product in object_list %}
	<div class="col-md-3">
	  <div class="card">
		<img
		  style="width: 720; height: 720"
		  src="{{ product.image }}"
		  class="card-img-top"
		/>
		<div class="card-body">
		  <div class="card-title">
			{{ product.title }}
		  </div>
		  <div class="card-text">R {{ product.price | floatformat:2 }}</div>
		  <a href="{{ product.id }}" class="btn btn-warning">View</a>
		  <a href="{{ product.pk }}/update/add">
			<button type="submit" class="btn btn-warning">add to cart</button>
		  </a>
		</div>
	  </div>
	</div>
{% endfor %}
</div>
{% endblock %}
