{% extends 'shop/base.html' %} {% block body %}

<div class="container">
  {% comment %} Search code {% endcomment %}
  <div class="row">
    <div class="col-md-12">
      <form class="card card-sm">
        <div class="card-body row no-gytters align-items-center">
          <div class="col">
            <input
              type="search"
              name="item_name"
              placeholder="Search for products"
              class="form-control form-control-borderless"
            />
          </div>
          <div class="col-auto">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% comment %} previous and next button code {% endcomment %}
  <div style="margin: 10px 25%" class="row">
    <div class="col-md-3 offset-md-4">
      <ul class="pagination">
        {% if product_objects.has_previous %}
        <li class="page_item">
          <a
            style="margin-right: 2px"
            class="page-link"
            href="?page={{ product_objects.previous_page_number }}"
            >Previous</a
          >
        </li>
        {% endif %} {% if product_objects.has_next %}

        <li class="page_item">
          <a
            class="page-link"
            href="?page={{ product_objects.next_page_number }}"
            >Next</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% comment %} pagination code {% endcomment %}
  <div class="row">
    {% for product in product_objects %}
    <div class="col-md-3">
      <div class="card">
        <img
          style="width: 720; height: 720"
          src="{{ product.image }}"
          class="card-img-top"
        />
        <div class="card-body">
			<div id="nm{{product.id}}" class="card-title">
            {{ product.title }}
          </div>
          <div class="card-text">R {{ product.price | floatformat:2 }}</div>
          <a href="{{ product.id }}" class="btn btn-warning">View</a>
		  <button id="{{ product.id }}" class="btn atc btn-warning">add to cart</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
